.details {
  padding: 1rem 1rem 0 1rem;

  margin: 0 auto;
  max-width: 800px;

  overflow-wrap: break-word;

  display: none;
}

.details.is-shown {
  display: block;
}

.details-content {
  margin: 0 0 1.5rem 0;
}
