.actions {
  display: flex;
}

.action {
  color: var(--color-text-misc);
}

.action > svg {
  transition-duration: var(--transition-duration);
  transition-property: fill;
}

.action:hover > svg {
  fill: var(--color-text-link);
}

.action:disabled > svg {
  fill: var(--color-background-mute);
}

.action.is-hidden {
  display: none;
}
