.figure {
  margin: 0;

  height: calc(100vh - 3rem - 5rem);
  background-color: var(--color-background-main);

  overflow: auto;
  display: flex;

  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

@media (min-width: 768px) {
  .figure {
    min-height: calc(100vh - 4rem);
    height: auto;

    overflow: visible;
  }
}

.figure.is-center-x {
  justify-content: center;
}

.figure.is-center-y {
  align-items: center;
}

.figure-image {
  opacity: 0;

  transition-duration: var(--transition-duration);
  transition-property: opacity;

  filter: var(--image-filter);
}

@media (min-width: 768px) {
  .figure-image {
    max-width: 100%;

    margin-top: 1rem;
    margin-bottom: 1rem;

    object-fit: scale-down;
  }
}

.figure-image.is-shown {
  opacity: 1;
}

.figure-loading {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;

  opacity: 0;
  transform: scale(0) translateY(calc(-100% + 5rem));
  transform-origin: top;

  transition-duration: var(--transition-duration);
  transition-property: opacity, transform;
}

.figure-loading.is-shown {
  opacity: 1;
  transform: scale(1) translateY(-50%);
}

.figure-error {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;

  opacity: 0;
  transform: scale(0) translateY(calc(-100% + 5rem));
  transform-origin: top;

  transition-duration: var(--transition-duration);
  transition-property: opacity, transform;
}

.figure-error.is-shown {
  opacity: 1;
  transform: scale(1) translateY(-50%);
}
