.modal {
  position: fixed;

  left: 50%;
  top: 50%;

  min-width: calc(100% - 2rem);
  max-height: calc(100% - 10rem);

  padding: 1rem 0 0;

  border: none;
  border-radius: 1rem;

  color: var(--color-text-main);
  background-color: var(--color-background-main);

  box-shadow: var(--backdrop-shadow);

  overflow: hidden;
  transform: translate(-50%, -50%) scale(0);

  opacity: 0;

  z-index: 100;

  transition-duration: var(--transition-duration);
  transition-property: transform opacity;
}

@media (min-width: 768px) {
  .modal {
    min-width: auto;
    width: 40rem;
  }
}

.modal.is-shown {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

.modal header {
  padding: 0 2rem 0rem;
}

.modal-content {
  max-height: 40vh;

  margin: 0 0 1rem;
  padding: 0 2rem;

  overflow-y: auto;
}

.modal footer {
  padding: 0rem;

  justify-content: center;

  border-top: solid 1px var(--color-background-mute);

  background-color: var(--color-background-misc);
}

.modal footer.actions button {
  color: var(--color-text-link);

  font-weight: 500;
  font-size: 12pt;

  padding: 1rem;

  min-width: 5.5rem;
  min-height: 3.5rem;

  border-radius: 0.5rem;

  cursor: pointer;
}

.modal footer.actions button:first-child:last-child {
  width: 100%;

  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.modal footer.actions button:hover {
  background-color: var(--color-background-mute);
}
