:root {
  --true: initial;
  --false: ;
}

:root[data-xv-theme='system'],
:root[data-xv-theme='light'] {
  --light: var(--true);
  --dark: var(--false);
}

:root[data-xv-theme='dark'] {
  --light: var(--false);
  --dark: var(--true);
}

@media (prefers-color-scheme: dark) {
  :root[data-xv-theme='system'] {
    --light: var(--false);
    --dark: var(--true);
  }
}

:root {
  --transition-duration: 0.15s;

  --color-text-main: var(--light, #212121) var(--dark, #a5a5a5);
  --color-text-mute: var(--light, #545454) var(--dark, #8a8a8a);
  --color-text-link: var(--light, #1a73e8) var(--dark, #4688f1);
  --color-background-main: var(--light, #ffffff) var(--dark, #262626);
  --color-background-misc: var(--light, #fafafa) var(--dark, #292a2d);
  --color-background-mute: var(--light, #f3f3f3) var(--dark, #36373a);

  --image-filter: var(--light, initial)
    var(--dark, invert(1) contrast(70%));
}

body {
  margin: 3rem 0 5rem;

  font-size: 1rem;
  font-family: 'system-ui', sans-serif;
  font-weight: 400;

  color: var(--color-text-main);
  background-color: var(--color-background-misc);

  overflow-y: scroll;
}

@media (min-width: 768px) {
  body {
    margin: 4rem 0 0;
  }
}

a {
  color: var(--color-text-link);
  text-decoration: none;
}

button {
  background: none;
  border: none;
  outline: none;

  margin: 0;

  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
}

li {
  line-height: 1.5;
}

p {
  line-height: 1.5;
}

kbd {
  display: inline-block;
  vertical-align: middle;

  padding: 4px;
  line-height: 10px;

  color: var(--color-text-main);
  background-color: var(--color-background-main);

  border-bottom-color: var(--color-text-mute);
  border: solid 1px var(--color-background-mute);
  border-radius: 4px;

  box-shadow: inset 0 -1px 0 var(--color-background-mute);
}
