.navbar {
  position: fixed;

  left: 0;
  right: 0;
  bottom: 0;

  background-color: var(--color-background-main);

  z-index: 10;
}

@media (min-width: 768px) {
  .navbar {
    top: 0;
    bottom: initial;
  }
}

.navbar-content {
  height: 5rem;

  margin: 0 auto;
  max-width: 800px;

  display: flex;
}

@media (min-width: 768px) {
  .navbar-content {
    height: 4rem;

    justify-content: space-between;
  }
}

.navbar-logo {
  display: none;
}

@media (min-width: 768px) {
  .navbar-logo {
    display: initial;

    font-size: 1.5rem;
    align-self: center;
  }
}

.navbar .actions {
  width: 100%;
}

@media (min-width: 768px) {
  .navbar .actions {
    width: initial;
    align-self: stretch;
  }
}

.navbar .actions button {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 20%;
}

@media (min-width: 768px) {
  .navbar .actions button {
    min-width: 4rem;
  }

  .navbar .actions button:first-child {
    border-bottom-left-radius: 0.25rem;
  }

  .navbar .actions button:last-child {
    border-bottom-right-radius: 0.25rem;
  }
}

.details {
  padding: 1rem 1rem 0 1rem;

  margin: 0 auto;
  max-width: 800px;

  overflow-wrap: break-word;

  display: none;
}

.details.is-shown {
  display: block;
}

.details section {
  margin: 0 0 1.5rem 0;
}

.bottomline {
  padding: 1rem 1rem 0 1rem;

  margin: 0 auto;
  max-width: 800px;
}

.bottomline .actions {
  margin-top: 1.5rem;

  justify-content: center;
}

.bottomline .actions button {
  border-radius: 1000px 1000px 0 0;
  padding: 1rem 4rem;
}
