:root {
  --transition-duration: 0.15s;
}

:root[data-xv-theme='light'] {
  --color-text-main: #212121;
  --color-text-mute: #545454;
  --color-text-link: #1a73e8;
  --color-background-main: #ffffff;
  --color-background-misc: #fafafa;
  --color-background-mute: #f3f3f3;
}

:root[data-xv-theme='dark'] {
  --color-text-main: #a5a5a5;
  --color-text-mute: #8a8a8a;
  --color-text-link: #4688f1;
  --color-background-main: #262626;
  --color-background-misc: #292a2d;
  --color-background-mute: #36373a;
}

body {
  margin: 0;
  margin-bottom: 5rem;

  font-size: 1rem;
  font-family: 'system-ui', sans-serif;
  font-weight: 400;

  color: var(--color-text-main);
  background-color: var(--color-background-misc);
}

@media (min-width: 768px) {
  body {
    margin: 0;
    margin-top: 4rem;
  }
}

a {
  color: var(--color-text-link);
  text-decoration: none;
}

.navbar {
  position: fixed;

  left: 0;
  right: 0;
  bottom: 0;

  background-color: var(--color-background-main);

  z-index: 10;
}

@media (min-width: 768px) {
  .navbar {
    top: 0;
    bottom: initial;
  }
}

.navbar__content {
  height: 5rem;

  margin: 0 auto;
  max-width: 800px;

  display: flex;
}

@media (min-width: 768px) {
  .navbar__content {
    height: 4rem;

    justify-content: space-between;
  }
}

.navbar__logo {
  display: none;
}

@media (min-width: 768px) {
  .navbar__logo {
    display: initial;

    font-size: 1.5rem;
    align-self: center;
  }
}

.navbar__buttons {
  display: flex;
  width: 100%;
}

@media (min-width: 768px) {
  .navbar__buttons {
    width: initial;
    align-self: stretch;
  }
}

.navbar__buttons .button {
  background: none;
  border: none;
  outline: none;

  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 20%;

  border-radius: 0.25rem 0.25rem 0 0;

  transition-duration: var(--transition-duration);
  transition-property: background-color;
}

@media (min-width: 768px) {
  .navbar__buttons .button {
    min-width: 4rem;

    border-radius: 0 0 0.25rem 0.25rem;

    cursor: pointer;
  }
}

.navbar__buttons .button:hover {
  background-color: var(--color-background-mute);
}

.navbar__buttons .button .button__icon {
  display: inline-block;
  width: 24px;
  height: 24px;

  fill: var(--color-text-main);

  transition-duration: var(--transition-duration);
  transition-property: fill;
}

.navbar__buttons .button:hover .button__icon {
  fill: var(--color-text-link);
}

.figure {
  margin: 0;

  height: calc(100vh - 5rem);
  background-color: var(--color-background-main);

  overflow: auto;
  display: flex;

  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

@media (min-width: 768px) {
  .figure {
    min-height: calc(100vh - 4rem);
    height: auto;

    overflow: visible;
  }
}

.figure--center-x {
  justify-content: center;
}

.figure--center-y {
  align-items: center;
}

.figure__image {
  opacity: 0;

  transition-duration: var(--transition-duration);
  transition-property: opacity;
}

:root[data-xv-theme='dark'] .figure__image {
  filter: invert(1) contrast(70%);
}

@media (min-width: 768px) {
  .figure__image {
    max-width: 100%;

    margin-top: 1rem;
    margin-bottom: 1rem;

    object-fit: scale-down;
  }
}

.figure__image--shown {
  opacity: 1;
}

.figure__loading {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;

  opacity: 0;
  transform: scale(0) translateY(calc(-100% + 5rem));
  transform-origin: top;

  transition-duration: var(--transition-duration);
  transition-property: opacity, transform;
}

.figure__loading--shown {
  opacity: 1;
  transform: scale(1) translateY(0);
}

.figure__error {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  text-align: center;

  opacity: 0;
  transform: scale(0) translateY(calc(-100% + 5rem));
  transform-origin: top;

  transition-duration: var(--transition-duration);
  transition-property: opacity, transform;
}

.figure__error--shown {
  opacity: 1;
  transform: scale(1) translateY(0);
}

.details {
  padding: 1rem 1rem 0 1rem;
  overflow-wrap: break-word;

  margin: 0 auto;
  max-width: 800px;
}

.details__head {
  margin: 0 0 1.5rem 0;

  font-size: 1.25rem;
}

.details__lead {
  margin: 0 0 1.5rem 0;

  font-style: italic;
}

.details__meta {
  margin: 0 0 1.5rem 0;

  font-size: 0.85rem;
  color: var(--color-text-mute);
}

.details__body {
  margin: 0 0 1.5rem 0;
}

.details__rights {
  margin: 0 0 1.5rem 0;

  font-size: 0.85rem;
  color: var(--color-text-mute);

  text-align: center;
}

.details__theme {
  text-align: center;
}

.details__theme .button {
  border: none;
  outline: none;
  margin: 0;
  -webkit-tap-highlight-color: transparent;

  border-radius: 1000px 1000px 0 0;
  padding: 1rem 4rem;

  color: var(--color-text-mute);
  background-color: var(--color-background-main);

  cursor: pointer;

  transition-duration: var(--transition-duration);
  transition-property: background-color;
}

.details__theme .button:hover {
  background-color: var(--color-background-mute);
}
